fastapi
uvicorn
sqlmodel
pydantic
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
pyjwt

google-genai
email-validator

# Optional but recommended
python-dotenv

# For testing
pytest
httpx

# For database migrations
alembic
